/******************** Logueo ********************/

.log{
	width:35%;
	height: 300px;
	background-image: url(../images/logo-circular.png);
	border-style: solid; 
	background-size: 100% 100%;
	margin: auto;
	text-align: center;
}
.log p{
	background-color: red;
	color: black;
	font-weight: bold; 
	font-family: Old English Text MT; 
	font-size: 18px; 
}
.log1 {
	height:50%;
	width:50%;	
	padding-top: 15%;
	float: left;
	font-family: Old English Text MT; 
	font-size: 20px; 
	line-height: 2.5;
	color: #ade8d2;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #000000;
}
.log2 {
	height:50%;
	width:50%;	
	padding-top: 15%;
	float: left;
	line-height: 3;
}
/******************** Fin de Logueo ********************/
/******************** Registro ********************/

.registro{
	margin: auto;
	text-align: center;
	width:50%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	line-height: 200%;
}
.registro p{
	font-size: 24px; 
	color: red;
	line-height: 50%;
}
.imgRegistro{
	width:100%
}

/******************** Fin Registro ********************/

/******************** Encabezado ********************/

.header{
	height:20%;
	width:100%;
	background-color: black;
	border-style: solid; 
	border-color: #ade8d2;
	color: white;
}
.logo{
	float: left;
	height: 100%;
	width: 80%;
}
.logo img{
	height: 100%;
}
.session{
	float: left;
	height: 100%;
	width: 20%;
}
.alias{
	text-align: center;
	width: 100%;
	float: left;
	clear: both;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	color: border-color: 
}
.botonSalir{
	text-align: center;
	width: 100%;
	float:left;
	height: 45%;
	margin-top: 5%;
}

/******************** Fin de Encabezado ********************/

/******************** Menu ********************/

.menu{
	float:left;
	width: 16%;
	height: 78%;
	font-size: 12px;
	color: white;
	background-color:black;
	border-style: solid; 
	border-color: #ade8d2;
}
.menu1{
/*	height: 30%; */
}
.menu2{
	height: 75%;
}
.mapa{
	width: 100%;
	height: 100%;
}
.mapa #map {
	height: 90%;
}
.ui-menu 
{
	width: 98%; 
}
/******************** Fin de Menu ********************/

/******************** Varios ********************/
.boton{ 
	color: #000000; 
	border: 2px #ade8d2 solid; 
	background-color: #FFFFFF; 
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	border-radius: 15px; 
}
.boton:hover { 
	font-style: italic; 
	box-shadow: 0px 0px 5px 0px #000000; 
} 
.boton:active { 
	color: #FFFFFF; 
	background-color: #ade8d2; 
	box-shadow: 0px 0px 10px 0px #000000; 
}
/******************** Fin De Varios ********************/

/******************** Crear Playlist y Musica ********************/

.crear{
	float:left;
	width:60%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	line-height: 200%;
}

.contenido{
	float: left;
	width: 100%;
	height:auto;
}

.contenido label{
	float:left;
	width:45%;
	text-align: left;
}

.contenido .input{
	float:left;
	width:45%;
	text-align: left;	
}

.contenido .img{
	text-align: center;
	float:left;
	margin-left: 10px;
}

.submit{
	float:left;
	clear: both;
	text-align: center;
	padding: 5%;
	margin: auto;
}
/******************** Fin De Crear Playlist y Musica ********************/


/******************** Listado Playlist ********************/
.listadoPlaylist{
	float:left;
	width:60%;
	height: 78%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	text-align: left;
}
.listadoPlaylist td{
	color: white;
}
/******************** Fin De Listado Playlist ********************/

/******************** Buscar Amigos y Mis Amigos ********************/
.buscarAmigos{
	float:left;
	width:60%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	line-height: 200%;
	text-align: center;
}
.busqueda{
	float:left;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
	width: 100%;
}
.listado{
	float: left;
	width: 100%;
}
.listadoNombre{
	float: left;
	width: 75%;
	text-align: center;
}
.listadoBoton{
	float: left;
	width: 25%;
	text-align: center;
}
/******************** Fin Buscar Amigos ********************/

/******************** Eliminar ********************/
.eliminar{
	float:left;
	width:60%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	text-align: center;
}
.eliminar table{
	color: white;
	text-align: center;
	align: center;
}
/******************** Fin Eliminar ********************/

.ranking{
	float:left;
	width:60%;
	height: 78%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	text-align: center;
	overflow: auto;
}
.ranking table{
	text-align: center;
	color: white;
	border: 1px;
	border-style: solid; 
	border-color: white;
}
.solicitudes{
	float:left;
	width:60%;
	height: 78%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	text-align: center;
	overflow: auto;
}
.solicitudes table{
	text-align: center;
	color: white;
}
.notificaciones{
	float:left;
	width:60%;
	height: 78%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	overflow: auto;
}
.notificaciones table{
	align: center;
	color: white;
}
.menuConectados{
	float: right;
	width: 22%;
	height: 78%;
	background-color:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	overflow: auto;
}
.asignarMusica{
	float:left;
	width:60%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: #ade8d2;
	font-family: Old English Text MT; 
	font-size: 16px; 
	font-weight: bold; 
	text-align: center;
}
.asignarMusica td{
	color: white;
	text-align: center;
	align: center;
}

body {
	background: url(../images/fondo2.png);
	background-size: cover;
}