.Log{
	height:100%;
	width:100%;
	background: url(../images/logo-circular.png);
	border-style: solid; 
	border-color: ade8d2;
}
.Log1 {
	height:75%;
	width:50%;	
	float: left;
}
.Log2 {
	height:75%;
	width:50%;	
}
.Header{
	height:100px;
	width:100%;
	background-color:black;
	border-style: solid; 
	border-color: ade8d2;
}
.Menu{
	height:100%;
	width: 25%;
	font-size: 14px;
	color: white;
	background:black;
	border-style: solid; 
	border-color: ade8d2;
}
.ui-menu 
{
	width: 70%; 
}
/******************** Crear Playlist ********************/

.CrearPlayList
{
	float:left;
	width:70%;
	background:black;
	color: white;
	border-style: solid; 
	border-color: ade8d2;
}

.Contenedor{
	float:left;
	color: white;
	width:40%;
	height:100%;
}

.tags{
	float:left;
	width:30%;
	height:100%;
	text-align: right;
	padding: 5%;
}

.inputs{
	float:left;
	width:40%;
	height:100%;
	text-align: left;
	padding: 5%;
}

.cruz{
	float:left;
	width:10%;
}

.submit{
	float:left;
	clear: both;
	width:80%;
	text-align: 0 auto;
	padding: 10%;
}
/**************************************************/

body {
	background: url(../images/fondo2.png);
	}